// Import Vuetify styling
@require '~vuetify/src/stylus/main.styl'

.page
  @extend .fade-transition
html, body, p, h1, h2, h3, h4, h5
  font-family Lato
p
  font-size 16px
.banner
  background url('/banner-bg.png')
  background-repeat repeat-x
  